<%- include('../partials/header', {title: "Coffee Shops"}); -%>

<div class="container">

    <h1>All the coffee is here</h1>
    <a class="btn btn-primary mb-5" href="shops/new" role="button">Add Coffee Shop</a>
    <div class="row">
        <!-- Loop through shop array -->
        <% shops.forEach(shop => { %>
        <div class="col-md-3 col-sm-6">
            <a href="/shops/<%= shop._id%>" class="block card--link">
                <div class="card">
                    <img src="<%= shop.image %>" class="card-img-top card-img--shops" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= shop.name %></h5>
                        <p class="card-text"><%= shop.address %></p>
                    </div>
                </div>
            </a>
        </div>
        <% }); %>
    </div>
</div>


<%- include('../partials/footer'); -%>