<%- include("../partials/header", {title: shop.name}) %>
<div class="container">
    <a class="btn btn-light float-right" href="/shops/<%= shop._id %>/edit">Edit</a>

    <h2 class="display-4"><%= shop.name %></h2>
    <img src="<%= shop.image %>" class="" alt="">
    <p class="mt-3 h6"><%= shop.address %></p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <form action="/shops/<%= shop._id %>/comment" method="POST">
                <div class="form-group">
                    <input class="form-control" type="textarea" name="comment[text]" placeholder="Comment">
                </div>
                <div class="form-group">
                    <input class="btn btn-primary float-right" type="submit">
                </div>
            </form>
        </div>
    </div>
    <div class="row comments">
        <div class="col-8 pt-5">

            <% shop.comments.slice().reverse().forEach(comment => { %>

            <div class="card">
                <div class="card-body">
                    <span class=""><%= comment.author.username %></span>
                    <span class="float-right">10 days ago</span>
                    <p><%= comment.text %></p>


                    <div class="dropdown show">
                        <!-- <div class="toggle__wrapper"> -->
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            ...
                        </a>
                        <!-- </div> -->
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Edit</a>
                            <form class="dropdown-item"
                                action="/shops/<%= shop._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
                                <input class="dropdown__item--delete" type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <% }); %>
        </div>
    </div>
</div>





<%- include('../partials/footer'); -%>